In [19]:
import pandas as pd

In [20]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [21]:
crowdfunding_info_df[['category', 'sub-category']] = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)
crowdfunding_info_df

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks,food,food trucks

In [28]:
# Get the unique categories from the original DataFrame
unique_categories = crowdfunding_info_df['category'].unique()

# Create the Category DataFrame
category_df = pd.DataFrame({
    'category_id': range(1, len(unique_categories) + 1),
    'category': unique_categories
})

# Print the Category DataFrame
category_df

   category_id      category
0            1          food
1            2         music
2            3    technology
3            4       theater
4            5  film & video
5            6    publishing
6            7         games
7            8   photography
8            9    journalism

In [32]:
#Export the DataFrame as a 'category.csv' CSV file

category_df.to_csv('category.csv', index=False)

In [33]:
# Get the unique categories from the original DataFrame
unique_subcategory = crowdfunding_info_df['sub-category'].unique()

# Create the Category DataFrame
sub_category_df = pd.DataFrame({
    'category_id': range(1, len(unique_subcategory) + 1),
    'category': unique_subcategory
})

# Print the Category DataFrame
sub_category_df

    category_id           category
0             1        food trucks
1             2               rock
2             3                web
3             4              plays
4             5        documentary
5             6     electric music
6             7              drama
7             8         indie rock
8             9          wearables
9            10         nonfiction
10           11          animation
11           12        video games
12           13             shorts
13           14            fiction
14           15  photography books
15           16   radio & podcasts
16           17              metal
17           18               jazz
18           19       translations
19           20         television
20           21       mobile games
21           22        world music
22           23    science fiction
23           24              audio

In [34]:
#Export the DataFrame as a 'subcategory.csv' CSV file

sub_category_df.to_csv('subcategory.csv', index=False)